<p>
  

<button class="buttonStyle" (click)="callGetLegs()">DOW - Get Legs</button>&nbsp;        

</p>

<div *ngIf="legs.length>0">
  <data-table id="data-table"
    [items]="legs "
    [itemCount]="itemCount"
    (reload)="reloadData($event)"
    [limit]="4"
    [substituteRows]="false"
     [indexColumnHeader]="'#'"
  >
    <data-table-column
      [property]="'dispatch_leg_id'"
      [header]="'Id'"
      [sortable]="true">
    </data-table-column>

    <data-table-column
      [property]="'rte_cd'"
      [header]="'RTE_CD'"
      [sortable]="true">
      <template #dataTableHeader let-item="item">
        RTE_CD
       
        <input type="number"  [(ngModel)]='search'  (keyup.enter)="filtered($event,search,legs)" class="form-control input-sm" style="width: 75px"/>
      </template>
    </data-table-column>
    <data-table-column
      [property]="'leg_desc'"
      [header]="'LEG_DESC'"
      [sortable]="false">
    </data-table-column>
     <data-table-column
      [property]="'eff_dt'"
      [header]="'EFF_DT'"
      [sortable]="false">
        <template #dataTableCell let-item="item">
                <span>{{item.eff_dt | date:'yyyy-MM-dd'}}</span>
            </template>
    </data-table-column>
  <data-table-column
      [property]="'orig_ctr_cd'"
      [header]="'ORIG_CTR_CD'"
      [sortable]="false">
    </data-table-column>
 
   <data-table-column
      [property]="'dest_ctr_cd'"
      [header]="'DEST_CTR_CD'"
      [sortable]="false">
    </data-table-column>
  </data-table>
<!--<table class=" table table-bordered row-border hover">
<thead>
  <tr>
    <th>ID</th>
    <th>RTE_CD</th>
    <th>EFF_DT</th>
    <th>EXPR_DT</th>
    <th>LEG_TM_NBR</th>
    <th>LEG_MILE_NBR</th>
    <th>AVG_MPH_NB</th>
    <th>LEG_DESC</th>
    <th>ORIG_CTR_CD</th>
    <th>DEST_CTR_CD</th>
   
  </tr>
</thead>
<tbody>
  <tr *ngFor="let leg of legs">
    <td>{{ leg.dispatch_leg_id }}</td>
    <td>{{ leg.rte_cd}}</td>
    <td>{{leg.eff_dt}}</td>
    <td>{{leg.expr_dt}}</td>
    <td>{{leg.leg_tm_nbr}}</td>
    <td>{{leg.leg_mile_nbr}}</td>
    <td>{{avg_mph_nb}}</td>
    <td>{{leg.leg_desc}}</td>
    <td>{{leg.orig_ctr_cd}}</td>
    <td>{{leg.dest_ctr_cd}}</td>
  
  </tr>
</tbody>
</table>-->

</div>